{% extends 'base.html.twig' %}

{% block title 'Connexion - SC Fleet Manager' %}

{% block body_attr 'app flex-row align-items-center' %}

{% block body %}
    <div class="esi-test">
        {{ render_esi(controller('App\\Infrastructure\\Controller\\DashboardController::esiTest', {'t': 0})) }}
    </div>
    <div class="esi-test">
        {{ render_esi(controller('App\\Infrastructure\\Controller\\DashboardController::esiTest', {'t': 1})) }}
    </div>
    <div class="esi-test">
        {{ render_esi(controller('App\\Infrastructure\\Controller\\DashboardController::esiTest', {'t': 2})) }}
    </div>
    <div class="esi-test">
        {{ render_esi(controller('App\\Infrastructure\\Controller\\DashboardController::esiTest', {'t': 3})) }}
    </div>
    <div class="esi-test">
        {{ render_esi(controller('App\\Infrastructure\\Controller\\DashboardController::esiTest', {'t': 4})) }}
    </div>
    <div id="app" data-discord-login-url="{{ hwi_oauth_login_url('discord') }}"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ preload(asset('build/login.js')) }}"></script>
{% endblock %}
